html, body{
	background: #ffffff;
	color: #404040;
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
	font-family: 'Tahoma', 'Verdana', 'Roboto Mono', monospace;
}

a{
	outline:none;
	color:#21a5b4;
	text-decoration:none;
}
a:hover{
	color:#1d8f99;
}

#invid-logo img{
	margin:20px 0 0 10px;
	cursor: pointer;
}
#we-verify-logo img{
	margin:10px 10px 0 0;
	cursor: pointer;
}

header{
	position:fixed;
	width:100%;
	top:0;
	z-index: 1;
	background-color:#ffffff;
	margin-bottom:10px;
}

footer{
	width:100%;
	padding:10px;
	text-align:center;
	color:#ffffff;
	bottom:0;
	border-top:1px solid #1d8f99;
	background-color:#21a5b4;
	clear:both;
	line-height:20px;
	position:fixed;
	margin-top:30px;
}
footer a,
footer a:hover{
	color:#ffffff;
	text-decoration:underline;
}

.icon {
	height: 48px;
	width: 48px;
	margin-bottom:5px;
}

/* Navigation bar Separator*/
.navsep {
	border-left:1px solid #38546d; 
	border-right:1px solid #16222c; 
	height:64px;
	display: inline-block;
	position:relative;
	top: 10px;

}

.footer {
	margin-top: 4em;
	margin-bottom: 6em;
	color: grey;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

/*Naviguation Bar*/
/* Remove margins and padding from the list, and add a black background color */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	text-align: center;
}

/* Float the list items side by side */
ul.navbar li {
	display: inline-block;
}

/* Style the links inside the list items */
ul.navbar li a{
	display: inline-block;
	color:#333;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 16px;
	opacity:0.5;
	-moz-opacity:0.5;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* Change background color of links on hover */
ul.navbar li a:hover {
	-webkit-filter: none;
	filter: none;
}
ul.navbar li a.active {
	-webkit-filter: none;
	filter: none;
	opacity:1.0;
	-moz-opacity:1.0;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.navbar li.icon {
	display: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.active {
	opacity:1.0;
	-moz-opacity:1.0;
}

/* Body */
#body_content {
	text-align: center;
	/* height: calc(100% - 98px); */
	min-height:900px;
	margin-top:100px;
}

#body_content h1 {
	color: #fff;
	background-color:#21a5b4;
	border-radius:5px;
	font-weight: normal;
	font-size: 28px;
	padding:15px;
	width:80%;
	margin:40px auto;
	text-align:center;
}

#body_content h2 {
	color: #333;
	font-size: 18px;
}

.form-action {
	height:100%;
}


/* Form */
form {
	/* padding-right: 20px !important; */
}

#half_input {
	width: 25%;
}

form input[type=text],
form input[type=email],
form input[type=password],
form textarea {
	width: 80%;
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #f8f8f8;
	border: 1px solid #e8e8e8;
	color: #000000;
	outline: none;
	border-radius: 5px;
	font-size:16px;
}

/* Change autocomplete input color*/ 
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #f8f8f8 inset;
}

/*Button*/
.button {
	font-size: 16px;
	padding: 15px 15px 15px 15px;
	margin: 5px;
	cursor: pointer;
	border: none;
	background-color: #21a5b4;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.button:hover {
	background-color: #1195a4;
}

.button:active {
	background-color: #21a5b4;
}

button.btn-primary{
	border-color:#21a5b4;
	background-color:#21a5b4;
}
button.btn-primary:hover{
	background-color: #21a5b4;
}

/* Accordeon */
 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
	display: inline-block;
	width: 40%;
	transition: 0.4s;
	margin-left: 10px;
	font-size: 16px;
	padding: 15px 15px 15px 15px;
	cursor: pointer;
	border: none;
	background: #21a5b4;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #21a5b4;
}

button.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/* Style the accordion panel. Note: hidden by default */
div.panel {
	padding: 18px;
	background-color: transparent;
	display: none;
	margin: 0 auto;
}

 /* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#error-content{
	display: none;
	margin: 15px auto 15px;
	padding: 20px 20px 20px;
	width: 800px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
}

/* Api content */
#api-content{
	display: none;
	margin: 30px auto 15px;
	padding: 10px 50px 40px;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
	font-weight: bold;
	line-height: 22px;
	word-break: break-all;
}

#place-debunked{
	display: none;
	margin: 50px auto 15px;
	padding: 20px 20px 20px;
	width: 650px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
	font-weight: bold;
	line-height: 22px;
}

/* Keyframes content */
#keyframes-content{
	display: none;
	margin: 30px auto 15px;
	padding: 10px 50px 40px;
	width: 800px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
	line-height: 22px;
}

/* fb content */
#fb-content{
	display: none;
	margin: 50px auto 15px;
	padding: 10px 50px 40px;
	width: 800px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
	line-height: 22px;
	word-break: break-all;
}

/* Forensic */
#error-forensic{
	display: none;
	margin: 15px auto 15px;
	padding: 20px 20px 20px;
	width: 650px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	color: red;
	text-align: center;
	font-weight: bold;
	line-height: 22px;
}

#forensic-content{
	display: none;
	margin: 15px auto 15px;
	padding: 10px 50px 10px;
	width: 1000px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
	line-height: 22px;
	word-break: break-all;
}

/* Modal */
.forensic-modal-class {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(192,192,192); /* Fallback color */
	background-color: rgba(192,192,192,0.9); /* Black w/ opacity */
}

.forensic-modal-content-class {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.forensic-close-modal-class {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.forensic-close-modal-class:hover,
.forensic-close-modal-class:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* Flip Card */
.scene {
	width: 245px;
	height: 250px;
	margin: 40px 0;
	perspective: 600px;
}

.card {
	/* width: 100%; */
	width: 90%;
	height: 100%;
	min-height:255px;
	transition: transform 1s;
	transform-style: preserve-3d;
	position: relative;
}

.card.is-flipped {
	transform: rotateY(180deg);
}

.card__face {
	position: absolute;
	width: 100%;
	height: 100%;
	color: black;
	text-align: center;
	font-size: 20px;
	backface-visibility: hidden;
	border-radius: 5px;
	border: 1px solid grey;
}

.img__front {
	width: 90%;
	height: auto;
	cursor: pointer;
}

.card__face--front {
	background: white;
}

.card__face--back {
	background: white;
	transform: rotateY(180deg);
}

.descrip__img {
	overflow-y: auto;
	max-height: 85%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	word-break: normal;
	font-size: 15px;
	line-height: 18px;
}

.card__info {
	position:absolute;
	bottom:5px;
	right:5px;
	cursor: pointer;
	font-size: 12px;
}

/* Row Column for Image */
.column{
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	margin-bottom:12px;

}

.row::after{
	content: "";
	clear: both;
	display: table;
	box-sizing: border-box;
}

/* Table */
table { 
	border: 1px solid #000;
	border-collapse: separate;
	border-left: 0;
	border-radius: 4px;
	border-spacing: 0px;
	width: 100%;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	border-collapse: separate;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
th, td {
	padding: 5px 4px 6px 4px; 
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #000;
}

th {
	border-top: 1px solid #000;
}

td {
	border-top: 1px solid #000;
	width: 70%;
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
	border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
	border-radius: 0 0 0 4px;
}

/* About content */
#about, #tutorial, #classroom, #quiz{
	margin: 50px auto 15px;
	padding: 0px 50px 40px;
	width: 100%;
	max-width:1000px;
	border: 1px solid #edece8;
	border-radius: 4px;
	background: #FFF;
	text-align: justify;
	line-height: 22px;
	height: auto;
}
#quiz{
	text-align: center;
}
#about h1, #classroom h1, #tutorial h1, #quiz h1{
	width:100%;
}

/* Loader */
/* Center the loader */
.loader {
	display: none;
	position: relative;
	left: 50%;
	top: 5%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: 20px 0 0 -60px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #21a5b4;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Google Maps */
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-map {
	margin-top: 10px;
	border-radius: 2px 0 0 2px;
	height: 32px;
	border: none;
	background: #21a5b4;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	/*box-shadow: 0px 3px 1px #2075aa;*/
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear
}

.btn-map:hover {
	background: #1d8c99;
	/*box-shadow: 0 3px 1px #237bb2;*/
}

.btn-map:active {
	background: #21a5b4;
	/*box-shadow: 0 3px 1px #0f608c;*/
}

/* Google Maps Search Box */ 
#pac-input {
	background-color: #fff;
	/* font-family: Roboto; */
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

/* Comments */
p.comment {
	display: inline-block;
	background-color: #dbedfe;
	padding: 5px;
	border-radius: 4px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
}

/*File Chooser*/
.image-upload {
	display: inline;
}

.image-upload > input
{
	display: none;
	width:100%;
	text-align:center;
}

.image-upload label img {
	height: 40px;
	width: 40px;
	line-height: 2em;
}

/* Metadata content */
#place-metadata{
	display: none;
	margin: 50px auto 15px;
	padding: 20px 50px 20px;
	width: 800px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
	line-height: 22px;
	word-break: break-all;
}

#error-metadata{
	display: none;
	color: red;
	margin: 15px auto 15px;
	padding: 20px 20px 20px;
	width: 800px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	text-align: center;
	font-weight: bold;
	line-height: 22px;
}

/* Raw content */
#raw-data{
	margin: 50px auto 15px;
	padding: 0px 50px 40px;
	width: 700px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #FFF;
	text-align: justify;
	line-height: 22px;
	word-break: break-all;
}

/* Iframe */
.ifr{
	height:100%;
	width:100%;
}

/* red "new" element */
.new_element{
	color: red !important;
	font-size: 7px;
	margin: 1px;
	position: relative;
	font-weight: bold;
	vertical-align: text-bottom;
	text-align: center;
}

/* Home menu */
.home-menu {
	margin-top:80px;
}
.third-parties{
	display:none;
}
.third-parties-menu{
}
.left-menu {
	margin-top:35px;
}
.home-menu div a,
.left-menu div a,
.third-parties-menu div a {
	text-decoration:none;
	color:#000;
	display:block;
	padding-top:10px;
	opacity:0.4;
	-moz-opacity:0.4;
}
.third-parties-menu div a{
	opacity:1.0;
	-moz-opacity:1.0;
}
.left-menu div a{
	margin-bottom:0;
	padding-top:0;
	border:0;
}
.left-menu div a.active{
	opacity:1.0;
	-moz-opacity:1.0;
}
.home-menu div figure,
.left-menu div figure,
.third-parties-menu div figure {
	text-align:center;
	border:1px solid transparent;
}
.home-menu div figure img.picto,
.third-parties-menu div figure img.picto {
	width:66%;
	max-width:90px;
	margin-bottom:5px;
}
.third-parties-menu div figure:hover{
	border:1px solid #ddd;
}
.home-menu div figure a:hover,
.third-parties-menu div figure a:hover,
.left-menu div figure:hover a{
	opacity:1.0;
	-moz-opacity:1.0;
}
.left-menu div figure img{
	width:60px;
	margin-bottom:0;
}
.home-menu div figure figcaption,
.third-parties-menu div figure figcaption {
	height:40px;
	padding-top:10px;
}
.left-menu div figure figcaption{
	height:auto;
	margin-bottom:8px;
}
.home-menu div figure figcaption img{
	width:24px;
	margin-top:-16px;
	cursor:pointer;
	opacity:0.75;
	-moz-opacity:0.75;
}
.left-menu div figure figcaption img,
.third-parties-menu div figure figcaption img{
	display:none;
}
.home-menu figure figcaption span,
.left-menu figure figcaption span,
.third-parties-menu figure figcaption span{
	white-space:nowrap;
}
.third-parties{
	margin-top:80px;
}
third-parties-menu div figure:hover{
}
#third_parties_title{
	text-align:left;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
	margin-bottom:20px;
	font-size:16px;
	color:#666;
}

#tutorial img,
#survey img,
/*#classroom img,*/
#survey img,
#about img,
#tutorial iframe,
#survey iframe,
#classroom iframe,
#survey iframe,
#about iframe{
	max-width:100%;
	margin:10px 0;
	text-align:left;
}
#tutorial img,
#survey img,
/*#classroom img,*/
#survey img,
#about img{
	height:auto;
}
#tutorial p.logos img{
	display:block;
}

#api_comments,
#api_map{
	float:left;
	width:85%;
}

.classroom-video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
	margin:10px auto;
}
.classroom-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-title{
}
.modal-description{
	font-weight:bold;
	margin-bottom:20px;
}
.modal-text{
	text-align:justify;
}
.modal-iframe{
	width:100%;
	height:400px;
	margin:10px auto;
}
.modal-footer{
}

.remote-resources{
	margin-top:20px;
}
.user-resources{
	margin-top:30px;
}
.resources-title{
	background-color:#f8f8f8;
	padding:10px;
	border-radius:5px;
	cursor:pointer;
	font-size:20px;
}
.resources-content{
	padding:20px;
}
.resources-content div.row{
	vertical-align:middle;
	font-size:16px;
	padding-bottom:20px;
}
.remote-resources .resources-content div.row{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #f8f8f8;
}
.resources-content div.row:last-child{
	border-bottom:0;
	padding-bottom:0;
	margin-bottom:0;
}
.resources-content div.row img{
	width:32px;
	height:32px;
	margin-right:16px;
}
#user_resources_content p{
	margin-bottom:3px;
	margin-top:-5px;
	font-size:14px;
}
#user_resources_content p.bold{
	font-weight:bold;
	padding:10px 0;
}
#user_resources_content input{
	width:90%;
	padding:3px 6px;
}

.padding-top-5{
	padding-top:5px;
}
.padding-top-10{
	padding-top:10px;
}

#keyframes-place2 button{
	margin-bottom:20px;
}

@media screen and (max-width: 640px) 
{
	#invid-logo img,
	#we-verify-logo img{
		margin-top:15px;
		max-width:40px;
		max-height:40px;
	}
	.icon {
		height: 28px;
		width: 28px;
		margin-bottom:5px;
	}
	ul.navbar li a {
		padding:10px 5px;
		text-align:center;
	}
	ul.navbar li a div span{
		font-size: 11px;
		letter-spacing:-2px;
		margin-left:-8px;
		display:block;
	}
	.home-menu {
		margin-top:40px;
	}
	.third-parties-menu{
		margin-top:40px;
	}
	#about, #tutorial, #classroom{
		padding:0px 20px 20px 10px;
	}
}

.quiz-move-left{
	padding:210px 70px 210px 5px;
	cursor:pointer;
}
.quiz-move-right{
	padding:210px 5px 210px 25px;
	cursor:pointer;
}

.languages-list a:hover,
.languages-list a.on{
	opacity:1.0;
}

.languages-list a.on{
	color:#21a5b4;
	border-radius:3px;
}

/* Twitter sna */
.js-plotly-plot .plotly, .js-plotly-plot .plotly div{
	margin: auto!important;
}

.title_custom{
	background-color:#f8f8f8;
	padding:5px;
	border-radius:5px;
	cursor:pointer;
	font-size:20px;
	width: 595.28px;
	margin: auto;
}

#twitterStats-Graphs {
	display: none;
	margin: 30px auto 15px;
	padding: 10px 50px 40px;
	border: 2px solid #F8F8F8;
	border-radius: 4px;
	text-align: center;
	line-height: 22px;
}

#counter_number {
	margin: 30px auto 15px;
	padding: 10px 50px 40px;
	font-size: 60pt;
}
/*
.username_col {
	width: fit-content;
}

.date_col {
	width: fit-content;
}


.nb_tweet_col {
	width: fit-content;
}
*/

colgroup td col {
	display: block;
}

.tweet_arr {

	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 3px;
	max-width:10%;
}
table.tweet_view {

	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.tweets_arr_user_time_place {
	width: 100%
}

.tweet_arr_nretweet {
	width: 10%;
}

.tweet_arr_tweets {
	word-break: break-word;
}
.tweet_arr_users {
	max-width: 30%;
	width: fit-content;
}

.tweet_arr_date
{
	max-width: 20%;
	white-space: nowrap;
	width: fit-content;
}

.dropdown-toggle::after
{
	vertical-align: .7em;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


.non-optionnal-fields {
	display: inline;
	width: 40%!important;
}